.PostContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #eee;
    height: 545px;
    overflow: scroll;
}

.container {
    height: 595px;
}

/* For desktop */
@media only screen and (min-width: 600px) {
    .PostContainer{
        height: 462px;
    }
}