.PostContainer {
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #eee;
    height: 605px;
    overflow: scroll;
}

.container {
    height: 655px;
}