.Footerdiv {
    margin: 0;
    background-color: #77dd77;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerText{
    font-size: 25px;
}