.mainContainer {
    width: 90%;
    background-color: white;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 13px;
}

.head {
    font-weight: 700;
    font-size: 16px;
}

.sub{
    font-weight: 400;
    font-size: 15px;
    color: #333
}

.meta {
    font-weight: 400;
    font-size: 14px;
    color: #666;
}